html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    font-family: 'Seesaw Sans', 'Seesaw Gothic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    ;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*header*/
@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Geograph-Medium.woff2') format('woff2'),
        url('Geograph-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Bold.woff2') format('woff2'),
        url('Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('Geograph-Regular.woff2') format('woff2'),
        url('Geograph-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Medium.woff2') format('woff2'),
        url('Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('Pretendard-Regular.woff2') format('woff2'),
        url('Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    display: flex;
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999999;
    // padding-top: 32px;
    // border-bottom: 2px solid #000;

    .displayheader {

        position: relative;
        width: 100%;
        // height: 90px;
        background: #ffffff;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-between;
        padding-bottom: 30px;
        font-family: 'Seesaw Sans';


        div.header-container {
            display: flex;
            justify-content: space-between;
            font-size: 29px;
            font-weight: 300;
            padding: 5px 20px;

            a {
                color: #000;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: red;
                    // background-color: #000;  
                    text-align: center;
                    cursor: pointer;
                }
            }

            .text-header01 {
                display: flex;
                align-items: center;
                column-gap: 20px;

            }

            .text-header02 {
                display: flex;
                align-items: center;
                column-gap: 20px;

                .text-img2 {
                    display: none;
                }

                .text-img {
                    width: 24px;

                }

                .krbox {
                    // width: 50px;
                    height: 30px;
                    border-radius: 40px;
                    box-sizing: border-box;
                    border: 2px solid #000;
                    font-size: 25px;
                    display: flex;
                    align-items: center;

                }
            }
        }

        .text-header03 {
            // position: absolute;
            // top: 65px;
            // margin: 0 20px;
            // transform: translate(-50%, -50%);
            margin-right: 0;
            text-align: center;
            max-width: 100%;
            width: 100%;
            display: block;

            img {
                width: 95%;
            }
        }

    }


    // .text-header03{}
}

footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    background-color: #dcdcde;

    .footer-bar {
        width: 25%;
        // border: 1px solid red;
        // box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        display: flex;

        .footer-text {
            align-items: flex-end;
            margin: 1em 1em 0px 0px;
            font-size: 12px;
            .footer-texts {
            font-size: 14px;
            }
        }

        .butbar button {
            font-size: 12px;
            background-color: transparent;
            border: 1px solid #000;
            padding: 4px;
            margin: 0 3px 0 0;
            align-items: flex-end;
        }

        .btnbox {
            margin-left: 300px;
            .footerbtn {
                width: 30px;
                border: 1px solid #000;
                color: #000;
                background: rgba(255, 255, 255, 0.2);
                padding: 0.7em 0.4em 0.2em 0.4em;
                position: sticky;
                right: 0px;
                bottom: 10px;
            }

        }
        ul {
            margin: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 0.2em;
        }
        .footer-a {
            width: 130px;
            // padding-left: 100px;
            float: right;
        }

    }

    
}


/*----------------header--------------- */
@media (min-width:768px)and (max-width:1024px){
    header {
        display: flex;
        // position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 999999;
        // padding-top: 32px;
        // border-bottom: 2px solid #000;

        .displayheader {

            position: relative;
            width: 100%;
            // height: 90px;
            background: #ffffff;
            align-items: center;
            box-sizing: border-box;
            justify-content: space-between;
            padding-bottom: 30px;
            font-family: 'Seesaw Sans';


            div.header-container {
                opacity: 1;
                display: flex;
                justify-content: space-between;
                font-size: 29px;
                font-weight: 300;
                padding: 5px 20px;

                a {

                    color: #000;
                    padding: 10px;
                    text-decoration: none;

                    &:hover {
                        color: red;
                        // background-color: #000;  
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .text-header01 {
                    display: none;

                    align-items: center;
                    column-gap: 20px;

                }

                .text-header02 {
                    display: flex;
                    align-items: center;
                    // column-gap: 765px;
                    // padding: 0 15px;

                    .text-header023 {
                        display: none;
                    }
                    .text-img2 {
                        display: block;
                        content: url(../images/Iicons/mobile-menu-mypage.svg);
                        width: 24px;
                    }
                    
                    .text-img {
                            width: 24px;
                        }

                    .krbox {
                        // width: 50px;
                        float: right;
                        height: 30px;
                        border-radius: 40px;
                        box-sizing: border-box;
                        border: 2px solid #000;
                        font-size: 25px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 20px;


                    }


                }
            }

            .text-header03 {
                // position: absolute;
                // top: 65px;
                // margin: 0 20px;
                // transform: translate(-50%, -50%);
                margin-right: 0;
                text-align: center;
                max-width: 100%;
                width: 100%;
                display: block;

                img {
                    width: 95%;
                }
            }

        }


        // .text-header03{}
    }
}
@media (max-width:767px) {
    header {
        display: flex;
        // position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 999999;
        // padding-top: 32px;
        // border-bottom: 2px solid #000;

        .displayheader {

            position: relative;
            width: 100%;
            // height: 90px;
            background: #ffffff;
            align-items: center;
            box-sizing: border-box;
            justify-content: space-between;
            padding-bottom: 30px;
            font-family: 'Seesaw Sans';


            div.header-container {
                opacity: 1;
                display: flex;
                justify-content: space-between;
                font-size: 29px;
                font-weight: 300;
                padding: 5px 20px;

                a {

                    color: #000;
                    padding: 10px;
                    text-decoration: none;

                    &:hover {
                        color: red;
                        // background-color: #000;  
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .text-header01 {
                    display: none;

                    align-items: center;
                    column-gap: 20px;

                }

                .text-header02 {
                    display: flex;
                    align-items: center;
                    // column-gap: 765px;
                    // padding: 0 15px;

                    .text-header023 {
                        display: none;
                    }
                    .text-img2 {
                        display: block;
                        content: url(../images/Iicons/mobile-menu-mypage.svg);
                        width: 24px;
                    }
                    .text-img2 {
                            display:block;
                            width: 24px;
                        }

                    

                    .text-img {
                            width: 24px;
                        }

                    .krbox {
                        // width: 50px;
                        float: right;
                        height: 30px;
                        border-radius: 40px;
                        box-sizing: border-box;
                        border: 2px solid #000;
                        font-size: 25px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 20px;
}


                    }


                }
            }

            .text-header03 {
                // position: absolute;
                // top: 65px;
                // margin: 0 20px;
                // transform: translate(-50%, -50%);
                margin-right: 0;
                text-align: center;
                max-width: 100%;
                width: 100%;
                display: block;

                img {
                    width: 95%;
                }
            }

        }


        // .text-header03{}
    }


/*---------------footer-------------------*/
@media (min-width:768px)and (max-width:1024px){
    footer {
    width: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    background-color: #dcdcde;

    .footer-bar {
        width: 40%;
        // border: 1px solid red;
        // box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        // flex-direction: column;
        align-items: flex-start;
        display: flex;
        padding: 10px;

        .footer-text {
            align-items: flex-end;
            margin: 1em 1em 0px 0px;
            font-size: 12px;

            .footer-texts {
                font-size: 14px;
            }
        }

        .butbar button {
            font-size: 12px;
            background-color: transparent;
            border: 1px solid #000;
            padding: 4px;
            margin: 0 3px 0 0;
            align-items: flex-end;
        }

        .btnbox {
            // margin-left: 300px;
                position: absolute;
                right: 10px;

            .footerbtn {
                
                width: 30px;
                border: 1px solid #000;
                color: #000;
                background: rgba(255, 255, 255, 0.2);
                padding: 0.7em 0.4em 0.2em 0.4em;
                position: sticky;
                
                // bottom: 10px;
            }

        }

        ul {
            margin: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            gap: 0.2em;
        }

        .footer-a {
            width: 130px;
            // padding-left: 100px;
            float: right;
        }

    }


}
}
@media (max-width:767px){
    footer {
        width: 100%;
        display: flex;
        float: left;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
        background-color: #dcdcde;
    
        .footer-bar {
            width: 50%;
            // border: 1px solid red;
            // box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            // flex-direction: column;
            align-items: flex-start;
            display: flex;
            padding: 5px;
    
            .footer-text {
                align-items: flex-end;
                margin: 1em 1em 0px 0px;
                font-size: 12px;
    
                .footer-texts {
                    font-size: 14px;
                }
            }
    
            .butbar button {
                font-size: 12px;
                background-color: transparent;
                border: 1px solid #000;
                padding: 4px;
                margin: 0 3px 0 0;
                align-items: flex-end;
            }
    
            .btnbox {
                // margin-left: 300px;
                    position: absolute;
                    right: 10px;
    
                .footerbtn {
                    
                    width: 30px;
                    border: 1px solid #000;
                    color: #000;
                    background: rgba(255, 255, 255, 0.2);
                    padding: 0.7em 0.4em 0.2em 0.4em;
                    position: sticky;
                    
                    // bottom: 10px;
                }
    
            }
    
            ul {
                margin: 0;
                padding-top: 12px;
                padding-bottom: 12px;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                gap: 0.2em;
            }
    
            .footer-a {
                width: 130px;
                // padding-left: 100px;
                float: right;
            }
    
        }
    
    
    }
}